body {
    background-color: rgb(106, 219, 59);
}

#selector {
    text-align: center;
    font-size: 70px;
    color: #eb7e38;
    line-height: 0px;
}

/*
* finn en løsning på å velge en id innenfor spesifikk ta, slik som nedenfor
*/

#home-btn {
    background-color: grey;
    display: inline;

    border-width: medium;
    border-style: groove;

}

h1 {
    position: relative;
    top: 2%;
    text-align: center;
}

h2 {
    font-size: 40px;
    top: 200px;
}

a {
    text-decoration: none;
    color: white;
}

.sun {
    position: absolute;
    border-radius: 300px;
}

/*
* frontpage-section
*/

#frontpage-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #474747;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.frontpage-layer1 {
    width: 400px;
    height: 400px;
    background-color: grey;
    top: 10%;
    left: 10%;
}

/*
* blueInner-section
*/

#blueInner-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #474747;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.blueInner-layer1 {
    width: 400px;
    height: 400px;
    background-color: #2576ff;
    top: 10%;
    left: 10%;
}

/*
* redInner-section
*/

#redInner-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #474747;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.redInner-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
* blueOuter-section
*/

#blueBlue-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #138eff;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.blueBlue-layer1 {
    width: 400px;
    height: 400px;
    background-color: #4053ff;
    top: 10%;
    left: 10%;
}

/*
* redOuter-section
*/

#redBlue-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #b62730;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.redBlue-layer1 {
    width: 400px;
    height: 400px;
    background-color: #4053ff;
    top: 10%;
    left: 10%;
}

/*
* redRed-section
*/

#redRed-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #b62730;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.redRed-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
* blueRed-section
*/

#blueRed-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #138eff;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: greyGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.blueRed-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
* fullBlue-section
*/

#fullBlue-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #138eff;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: blueGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.fullBlue-layer1 {
    width: 400px;
    height: 400px;
    background-color: #4053ff;
    top: 10%;
    left: 10%;
}

/*
* fullRed-section
*/

#fullRed-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #b62730;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: redGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.fullRed-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
* fullRed-section
*/

#blueRedRed-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #b62730;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: blueGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.blueRedRed-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
*blueRedRed
*/

#blueBlueRed-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #138eff;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: blueGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.blueBlueRed-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
* redBlueRed-section
*/

#redBlueRed-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #138eff;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: redGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.redBlueRed-layer1 {
    width: 400px;
    height: 400px;
    background-color: #ff2525;
    top: 10%;
    left: 10%;
}

/*
* blueRedBlue-section
*/

#blueRedBlue-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #b62730;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: blueGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.blueRedBlue-layer1 {
    width: 400px;
    height: 400px;
    background-color: #4053ff;
    top: 10%;
    left: 10%;
}

/*
*redBlueBlue-section
*/

#redBlueBlue-sun {
    border-radius: 300px;
    width: 500px;
    height: 500px;
    background-color: #138eff;
    position: relative;
    left: 50%;
    box-shadow: 10px 10px 5px #888888;
    animation: redGlow 4s infinite ease;
    animation-fill-mode: forwards;
    left: 450px;

}

.redBlueBlue-layer1 {
    width: 400px;
    height: 400px;
    background-color: #4053ff;
    top: 10%;
    left: 10%;
}


/*
* glowing
*/

@keyframes greyGlow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4a4a4a, 0 0 170px #4a4a4a, 0 0 180px #4a4a4a, 0 0 200px #4a4a4a, 0 0 350px #4a4a4a;
  }
  50% {
    box-shadow: 0 0 200px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4a4a4a, 0 0 35px #4a4a4a, 0 0 40px #4a4a4a, 0 0 50px #4a4a4a, 0 0 75px #4a4a4a;
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4a4a4a, 0 0 170px #4a4a4a, 0 0 180px #4a4a4a, 0 0 200px #4a4a4a, 0 0 350px #4a4a4a;
  }
}

@keyframes redGlow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ed3434, 0 0 170px #ed3434, 0 0 180px #ed3434, 0 0 200px #ed3434, 0 0 350px #ed3434;
  }
  50% {
    box-shadow: 0 0 200px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ed3434, 0 0 35px #ed3434, 0 0 40px #ed3434, 0 0 50px #ed3434, 0 0 75px #ed3434;
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ed3434, 0 0 170px #ed3434, 0 0 180px #ed3434, 0 0 200px #ed3434, 0 0 350px #ed3434;
  }
}

@keyframes blueGlow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2130fb, 0 0 170px #2130fb, 0 0 180px #2130fb, 0 0 200px #2130fb, 0 0 350px #2130fb;
  }
  50% {
    box-shadow: 0 0 200px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2130fb, 0 0 35px #2130fb, 0 0 40px #2130fb, 0 0 50px #2130fb, 0 0 75px #2130fb;
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2130fb, 0 0 170px #2130fb, 0 0 180px #2130fb, 0 0 200px #2130fb, 0 0 350px #2130fb;
  }
}
