<<<<<<< current
html, body {
  margin: 0 auto;
  padding: 0;
}

.container {
  position: relative;
  display: inline-block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.backgroundimage {
  background: url("../images/background.png");
  background-color: #87CEEB;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#logo {
    position: absolute;
    bottom: 0;
    left: 45rem;
    width: 500px;
    opacity: 1;
    z-index: 7;
    animation: intro 0.6s linear;
    animation-fill-mode: forwards;

}

#barn {
  position: absolute;
  width: 200px;
  transform: rotate(-12deg);
  bottom: -40rem;
  left: 97rem;
  z-index: 1;
}
#barnglow {
  display: none;
  position: absolute;
  width: 200px;
  transform: rotate(-12deg);
  bottom: -40rem;
  left: 97rem;
  z-index: 2;
}
#barn:hover > #barnglow {
  display: block;
}


#windmill {
  position: absolute;
  transform: scale(0.3) rotate(1deg);
  bottom: -18.5rem;
  left: 10rem;
  z-index: 5;
}
#wings{
  position: absolute;
  left: 5.9rem;
  bottom: -48rem;
  z-index: 1;
  animation: rotate1 3s linear infinite;
}
#house{
  position: absolute;
}

#sheep1{
  position: absolute;
  width: 300px;
  bottom: -50rem;
  left: 53rem;
  z-index: 5;
}
#sheep2{
  position: absolute;
  width: 100px;
  bottom: -40rem;
  left: 25rem;
}
#sheep3{
  position: absolute;
  width: 190px;
  bottom: -52rem;
  left: 95rem;
  z-index: 6;
}

#planet-1 {
  position: absolute;
  bottom: -108rem;
  left: 30rem;
  width: 1100px;
  z-index: 4;
}
#planet-2 {
  position: absolute;
  bottom: -108rem;
  left: -10rem;
  width: 1000px;
  z-index: 2;
}
#planet-3 {
  position: absolute;
  bottom: -108rem;
  left: 70rem;
  width: 1000px;
  z-index: 3;
  animation: rotate 70s linear infinite;
}


#sign {
  position: absolute;
  bottom: -53rem;
  transform: rotate(-4deg);
  left: 12rem;
  width: 250px;
  z-index: 6;
}


#birds {
  position: absolute;
  bottom: -20rem;
  left: 0rem;
  width: 400px;
  animation: fly 30s linear infinite;
  z-index: 1;
}


.sun {
    position: absolute;
    bottom: -8rem;
    left: -22rem;
    margin: 0;
    padding: 0;
    width: 750px;
    height: 750px;
    background: #FFFF66	;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 15px yellow;
    animation: glow 40s linear infinite;
}

@keyframes intro {
  0% {
      bottom: : 0rem;
      opacity: 0;
  }
  100% {
      bottom: -24rem;
      opacity: 1;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
  50% {
    box-shadow: 0px 0px 60px 30px #FFFF66;
    background: yellow;
  }
  100% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
}

@keyframes rotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(-180deg);
   }
   100% {
     transform: rotate(-360deg);
   }
 }

@keyframes fly {
  0% {
    left: -40rem;
  }
  20% {
    left: 120rem;
    transform: rotateY( 0deg);
  }
  40% {
    left: 120rem;
    transform: rotateY( 180deg);
  }
  60% {
    left: 120rem;
    transform: rotateY( 180deg);
  }
  80% {
    left: -40rem;
    transform: rotateY( 180deg);
  }
  100% {
    left: -40rem;
    transform: rotateY( 0deg);
  }
}

}
=======
html, body {
  margin: 0;
  padding: 0;
  background-color: #87CEEB;

}

.container {
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto;
  overflow: hidden;
}

.grass {
  overflow: visible;
position: absolute;
left: 50%;
width: 500px;
top: -50px;
margin: 0;
height: 500px;
background: #228B22;
border-radius: 50%;

}

.sign {
position: absolute;
width: 30px;
bottom: 50px;
left: 50px;

}

.sun {
    position: absolute;
    top: 100px;
    left: 50px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background: #ffff00;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 8, .5);
    animation: animate 20s linear infinite;

}

.sun li {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 3px;
    background: #ffff00;
    box-shadow: 0 0 15px rgba(255, 255, 8, .5);
}

.sun li:nth-child(1){
    transform: translate(-50%, -50%) rotate(0deg);
}
.sun li:nth-child(2){
    transform: translate(-50%, -50%) rotate(90deg);
}
.sun li:nth-child(3){
    transform: translate(-50%, -50%) rotate(45deg);
}
.sun li:nth-child(4){
    transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
>>>>>>> before discard
