html, body {
  margin: 0 auto;
  padding: 0;
  background: url("../images/background.png");
  background-color: #87CEEB;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: inline-block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#logo {
    position: absolute;
    bottom: -20rem;
    left: 47rem;

}

#barn {
  position: absolute;
  transform: scale(0.5);
  bottom: -47rem;
  left: 100rem;
  z-index: 5;

}


#sheep1{
  position: absolute;
  width: 300px;
  bottom: -50rem;
  left: 47rem;
  z-index: 5;
}
#sheep2{
  position: absolute;
  width: 100px;
  bottom: -40rem;
  left: 20rem;
}
#sheep3{
  position: absolute;
  width: 100px;
  bottom: -45rem;
  left: 90rem;
  transform: rotateY( 180deg);
}

#planet-1 {
  position: absolute;
  bottom: -108rem;
  left: 30rem;
  width: 1100px;
  z-index: 4;
}
#planet-2 {
  position: absolute;
  bottom: -108rem;
  left: -10rem;
  width: 1000px;
  z-index: 2;
  animation: rotate1 50s linear infinite;
}
#planet-3 {
  position: absolute;
  bottom: -108rem;
  left: 70rem;
  width: 1000px;
  z-index: 3;
  animation: rotate1 50s linear infinite;
}


#sign {
  position: absolute;
  bottom: -40rem;
  left: 7rem;
  width: 100px;
  z-index: 6;
}


#birds {
  position: absolute;
  bottom: -20rem;
  left: 0rem;
  width: 400px;
  animation: fly 30s linear infinite;
  z-index: 1;
}


.sun {
    position: absolute;
    bottom: -15rem;
    left: 3rem;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    background: #ffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 15px yellow;
    animation: glow 10s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 40px 15px yellow;
  }
  50% {
    box-shadow: 0px 0px 60px 30px orange;
  }
  100% {
    box-shadow: 0px 0px 40px 15px orange;
  }
}

@keyframes rotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(-180deg);
   }
   100% {
     transform: rotate(-360deg);
   }
 }

@keyframes fly {
  0% {
    left: -40rem;
  }
  20% {
    left: 120rem;
    transform: rotateY( 0deg);
  }
  40% {
    left: 120rem;
    transform: rotateY( 180deg);
  }
  60% {
    left: 120rem;
    transform: rotateY( 180deg);
  }
  80% {
    left: -40rem;
    transform: rotateY( 180deg);
  }
  100% {
    left: -40rem;
    transform: rotateY( 0deg);
  }
}

}
