html, body {
  margin: 0 auto;
  padding: 0;
}
img {
   height: auto;
   width: auto;
   max-width: 1000px;
   max-height: 1000px;
}
.container {
  position: relative;
  display: inline-block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.backgroundimage {
  background: url("../images/background.png");
  background-color: #87CEEB;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#logo {
    position: absolute;
    bottom: 0;
<<<<<<< HEAD
    left: 45rem;
    width: 500px;
=======
    left: 26rem;
    width: 1000px;
>>>>>>> da992833fa3e8ac31a46e7d40686a19398f7df92
    opacity: 1;
    z-index: 7;
    animation: intro 0.6s linear;
    animation-fill-mode: forwards;

}

#bird1 {
  position: absolute;
  bottom: -15rem;
  left: -100rem;
  animation: fly 50s linear infinite;
}
#bird2 {
  position: absolute;
  bottom: -20rem;
  left: -100rem;
  animation: fly 50s linear infinite;
  animation-delay: 0.5s
}
#bird3 {
  position: absolute;
  bottom: -15rem;
  left: -100rem;
  animation: fly 50s linear infinite;
  animation-delay: 1s;
}

#text {
  position: absolute;
  transform: rotate(-12deg);
  bottom: -26rem;
  left: 89rem;
  font-size: 2rem;
  font-style: helvetica;
  color: #30260f;
  z-index: 1;
  animation: updown 1.5s linear infinite;
}

@keyframes updown {
  0%{
    bottom: -26rem;
  }
  50% {
    bottom: -24rem;
  }
  100% {
    bottom: -26rem;
  }
}
#barn {
  position: absolute;
  width: 200px;
  transform: rotate(-12deg);
  bottom: -36rem;
  left: 90rem;
  z-index: 1;
}
#yellow-glow:hover{
  filter: drop-shadow(5px 5px 15px yellow)
          drop-shadow(-5px -5px 15px yellow);
  z-index: 6;
}


#windmill {
  position: absolute;
  transform: scale(0.3) rotate(1deg);
  bottom: -18.5rem;
  left: 10rem;
  z-index: 5;
}
#wings{
  position: absolute;
  left: 5.9rem;
  bottom: -48rem;
  z-index: 1;
  animation: rotate1 3s linear infinite;
}
#house{
  position: absolute;
}

#sheep1{
  position: absolute;
  width: 300px;
  bottom: -50rem;
  left: 53rem;
  z-index: 5;
}
#sheep2{
  position: absolute;
  width: 100px;
  bottom: -40rem;
  left: 25rem;
}
#sheep3{
  position: absolute;
  width: 190px;
  bottom: -52rem;
  left: 95rem;
  z-index: 6;
}

#planet-1 {
  position: absolute;
  bottom: -108rem;
  left: 30rem;
  width: 1100px;
  z-index: 4;
}
#planet-2 {
  position: absolute;
  bottom: -108rem;
  left: -10rem;
  width: 1000px;
  z-index: 0;
}
#planet-3 {
  position: absolute;
  bottom: -108rem;
  left: 70rem;
  width: 1000px;
  z-index: 3;
  animation: rotate 70s linear infinite;
}


#sign {
  position: absolute;
  bottom: -53rem;
  transform: rotate(-4deg);
  left: 12rem;
  width: 250px;
  z-index: 10;
}

#sun {
    position: absolute;
    bottom: -8rem;
    left: -22rem;
    margin: 0;
    padding: 0;
    width: 750px;
    height: 750px;
    background: #FFFF66	;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 15px yellow;
    animation: glow 40s linear infinite;
}

@keyframes intro {
  0% {
      bottom: : 0rem;
      opacity: 0;
  }
  100% {
      bottom: -24rem;
      opacity: 1;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
  50% {
    box-shadow: 0px 0px 60px 30px #FFFF66;
    background: yellow;
  }
  100% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
}

@keyframes rotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(-180deg);
   }
   100% {
     transform: rotate(-360deg);
   }
 }
 
@keyframes fly {
  0% {
    left: -40rem;
  }
  20% {
    left: 120rem;
    transform: rotateY( 0deg);
  }
  40% {
    left: 120rem;
    transform: rotateY( 180deg);
  }
  60% {
    left: 120rem;
    transform: rotateY( 180deg);
  }
  80% {
    left: -40rem;
    transform: rotateY( 180deg);
  }
  100% {
    left: -40rem;
    transform: rotateY( 0deg);
  }
}

}
