@font-face {
    font-family: coyote;
    src: url("Coyote.ttf");
}
body {
    background-image: url("images/123213213213213123213123.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: coyote;
    color: #fcfdfd;
    font-size: 20px;
}

#machine {
    bottom: 0;
    width: 600px;
    position: absolute;
}

#placeholder {
    position: absolute;
    left: 53%;
    top: 53%;
}

/*
*    unused overlay-effect
*/

#overlay {
    height: 110%;
    width: 110%;
    background-color: black;
    margin: -10px;
    opacity: 0.5;
    top:0px;
    position: fixed;
    z-index: -1;

}

/*
*    stage-section
*/

#stage {
    width: 400px;
    height: 500px;
    left: 691px;
    top: 216px;
    position:relative;
    overflow: hidden;
}

#shadow {
    width: 400px;
    height: 70px;
    border-radius: 60%;
    background-color: black;
    position: absolute;
    bottom: 0;
    opacity: 1;
    z-index: 1;
}

#spotlight {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 500px 200px;
    border-color: #f7ff00 transparent;
    bottom: 38px;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
}
#lamp{
  position: absolute;
  z-index: -1;
  left: 823px;
  top: 139px;
  width: 150px;
}

/*
*    machine-container-section
*/

#machine-container {
    width: 599px;
    height: 457px;
    background-color: red;
    left: 3.57%;
    bottom: 120px;
    position: absolute;
}

/*
*    customize-container-section
*    colors: dark-grey: #6b8082 light-grey: #92aaac light-black: #5b5b5b
*/

#customize-container {
    left: 315px;
    top: 350px;
    width: 270px;
    height: 325px;
    background-color: #6a7e80;
    position: absolute;
    border-radius: 13px;
}

#color-container {
    width: 230px;
    height: 80px;
    text-align: center;
    position: relative;
    margin: 20px;
    background-color: #5b5b5b;
    border-radius: 13px;
}

#capacity-container {
    text-align: center;
    width: 230px;
    height: 80px;
    position: relative;
    margin: 20px;
    background-color: #5b5b5b;
    border-radius: 13px;
}
/*
* Info box for capacity
*/

#info-box{
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 200px;
  height: 0.5px;
  width: 0.5px;
  left: 200px;
  top: -8px;
  border: 2px solid black;
  font-size: 10px;
  line-height: 3px;

}

#info-text
{
  position: absolute;
  text-align: left;
  width: 212px;
  height: 120px;
  left: 400px;
  padding: 0.5rem;
  bottom: 10px;
  background-color: white;
  border: 0.3rem solid yellow;
  border-radius: 0.5rem;
  display: none;
}
#info-box:hover ~ #info-text{
  display: block;
}
/*
* info box for capacity end
*/
#speed-container {
    text-align: center;
    width: 230px;
    height: 80px;
    position: relative;
    margin: 20px;
    background-color: #5b5b5b;
    border-radius: 13px;
}

/*
*    button-section
*    fix % left
*/

.button {
    position: absolute;
    background-color: #d16f67;
    padding: 10px;
    border-radius: 200px;
    height: 0.5px;
    width: 0.5px;
    border: 3px solid black;

}

.knapp1:hover, .knapp2:hover, .knapp3:hover, .knapp4:hover, .knapp5:hover, .knapp6:hover, .knapp7:hover, .knapp8:hover, .knapp9:hover{
    background-color: #91d9f7;
}

.knapp1 {
    left: 18%;
    background-color: #fffff0;
}

.knapp2 {
    left: 45%;
    background-color: #6f563f;
}

.knapp3 {
    left: 72%;
    background-color: #373737;
}

.knapp4 {
    left: 18%;
    padding: 0.5rem;
    bottom: 10px;
}

.knapp5 {
    left: 40%;
    padding: 0.8rem;
    bottom: 9px;
}

.knapp6 {
    left: 65%;
    padding: 1.2rem;
    bottom: 7px;
}

.knapp7 {
    left: 18%;
}

.knapp8 {
    left: 45%;
}

.knapp9 {
    left: 72%;
}

/*
* keyframes Start
*/

@keyframes greyGlow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4a4a4a, 0 0 170px #4a4a4a, 0 0 180px #4a4a4a, 0 0 200px #4a4a4a, 0 0 350px #4a4a4a;
  }
  50% {
    box-shadow: 0 0 200px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4a4a4a, 0 0 35px #4a4a4a, 0 0 40px #4a4a4a, 0 0 50px #4a4a4a, 0 0 80px #4a4a4a;
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4a4a4a, 0 0 170px #4a4a4a, 0 0 180px #4a4a4a, 0 0 200px #4a4a4a, 0 0 350px #4a4a4a;
  }
}
