body {
    background-image: url("images/123213213213213123213123.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#placeholder {
    position: absolute;
    left: 53%;
    top: 53%;
}

/*
*    unused overlay-effect
*/

#overlay {
    height: auto;
    width: auto;
    background-color: black;
    opacity: 0.5;
    position: relative;
    z-index: -1;

}

/*
*    stage-section
*/

#stage {
    width: 400px;
    height: 500px;
    background-color: #ababab;
    opacity: 0.4;
    left: 700px;
    bottom: 70px;
    position: absolute;
    overflow: hidden;
}

#shadow {
    width: 400px;
    height: 70px;
    border-radius: 60%;
    background-color: black;
    position: absolute;
    bottom: 0;
    opacity: 1;
    z-index: 1;
}

#spotlight {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 500px 200px;
    border-color: transparent transparent #f7ff00 transparent;
    bottom: 38px;
    position: absolute;
    z-index: 0;
}

/*
*    customize-container-section
*/

#customize-container {
    left: 120px;
    top: 70px;
    width: 400px;
    height: 500px;
    background-color: #99a3be;
    position: absolute;
    border-radius: 10px;
    border: 4px solid black;
}

#color-container {
    width: 359px;
    height: 133px;
    text-align: center;
    position: relative;
    margin: 20px;
    background-color: #5d5f78;
    border-radius: 10px;
    border: 3px solid black;
}

#capacity-container {
    text-align: center;
    width: 359px;
    height: 140px;
    position: relative;
    margin: 20px;
    background-color: #5d5f78;
    border-radius: 10px;
    border: 3px solid black;
}

#speed-container {
    text-align: center;
    width: 359px;
    height: 133px;
    position: relative;
    margin: 20px;
    background-color: #5d5f78;
    border-radius: 10px;
    border: 3px solid black;
}

/*
*    button-section
*    fix % left
*/

.button {
    position: absolute;
    background-color: red;
    padding: 1rem;
    border-radius: 200px;
    height: 0.5px;
    width: 0.5px;
    border: 0.3rem solid black;

}

.knapp1:hover, .knapp2:hover, .knapp3:hover, .knapp4:hover, .knapp5:hover, .knapp6:hover, .knapp7:hover, .knapp8:hover, .knapp9:hover{
    background-color: #91d9f7;
}

.knapp1 {
    left: 20%;
    background-color: #fffff0;
}

.knapp2 {
    left: 40%;
    background-color: #724d2b;
}

.knapp3 {
    left: 60%;
    background-color: #262626;
}

.knapp4 {
    left: 20%;
    padding: 0.5rem;
    bottom: 18px;
}

.knapp5 {
    left: 40%;
    padding: 0.8rem;
    bottom: 15px;
}

.knapp6 {
    left: 60%;
    padding: 1.2rem;
}

.knapp7 {
    left: 20%;
}

.knapp8 {
    left: 40%;
}

.knapp9 {
    left: 60%;
}

/*
*    button-section end
*/
