html, body {
  margin: 0;
  padding: 0;
  background: url("../images/background.png") center center fixed #87CEEB;
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#sign {
position: absolute;
bottom: 250px;
left: 28%;
width: 800px;
height: 500px;
}

#sheep1 {
position: absolute;
bottom: 220px;
left: 1250px;
width: 150px;
z-index: 5;
}

#planet-1 {
  position: absolute;
  bottom: -750px;
  left: 24%;
  width: 1000px;
  z-index: 4;

}
#planet-2 {
  position: absolute;
  bottom: -750px;
  right: 800px;
  width: 950px;
  z-index: 2;
  animation: rotate2 20s linear infinite;
}
#planet-3 {
  position: absolute;
  bottom: -750px;
  left: 800px;
  width: 950px;
  z-index: 3;
  animation: rotate1 20s linear infinite;
}

.sun {
    position: absolute;
    top: 10%;
    left: 5%;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    background: #ffff00;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 8, .5);
    animation: rotate 20s linear infinite;
  }

  .sun li {
      list-style: none;
      position: absolute;
      top: 100px;
      left: 100px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 15px;
      background: #ffff00;
      box-shadow: 0 0 50px rgba(255, 255, 8, .5);
  }

  .sun li:nth-child(1){
      transform: translate(-50%, -50%) rotate(0deg);
  }
  .sun li:nth-child(2){
      transform: translate(-50%, -50%) rotate(90deg);
  }
  .sun li:nth-child(3){
      transform: translate(-50%, -50%) rotate(45deg);
  }
  .sun li:nth-child(4){
      transform: translate(-50%, -50%) rotate(-45deg);
    }


@keyframes rotate {
  0% {
    transform: rotate(0deg);
   }
  50% {
   transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate1 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(180deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }


@keyframes rotate2 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(-180deg);
   }
   100% {
     transform: rotate(-360deg);
   }
 }
