html, body {
  margin: 0 auto;
  padding: 0;
  background: url("../images/background.png");
  background-color: #87CEEB;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


.container {
  position: relative;
  display: inline-block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#sign {
position: absolute;
bottom: -52rem;
left: 30rem;
width: 1000px;
height: 750px;
z-index: 7;
}

#windmill {
  position: absolute;
  transform: scale(0.3) rotate(-7deg);
  bottom: -21rem;
  left: 100rem;
  z-index: 6;
}
#wings{
  position: absolute;
  left: 5.9rem;
  bottom: -48rem;
  z-index: 1;
  animation: rotate 3s linear infinite;
}
#house{
  position: absolute;
}


#sheep1 {
position: absolute;
bottom: -55rem;
left: 97rem;
width: 230px;
z-index: 5;
}

#sheep2 {
position: absolute;
bottom: -40rem;
left: 20rem;
width: 150px;
z-index: 5;
}

#sheep3 {
position: absolute;
bottom: -42rem;
left: 15rem;
width: 120px;
z-index: 5;
}

#planet-1 {
  position: absolute;
  bottom: -108rem;
  left: 35rem;
  width: 1000px;
  z-index: 4;
}

#planet-2 {
  position: absolute;
  bottom: -108rem;
  left: -5rem;
  width: 950px;
  z-index: 2;
}

#planet-3 {
  position: absolute;
  bottom: -108rem;
  left: 75rem;
  width: 950px;
  z-index: 3;
  animation: rotate 40s linear infinite;
}

#arrow{
  position: absolute;
  width: 200px;
  height: 15rem;
  bottom: -50rem;
  left: 3rem;
}

#yellow-glow-arrow:hover{
  filter: drop-shadow(2px 2px 0 yellow)
          drop-shadow(-2px -2px 0 yellow);

}

#text {
  position: absolute;
  bottom: -20rem;
  left: 35rem;
  width: 47rem;
  font-size: 2rem;
  font-family: arial;
  font-style: normal;
  color: #30260f;
  z-index: 9;
}

.sun {
    position: absolute;
    bottom: -15rem;
    left: 3rem;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    background: #FFFF66	;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 25px yellow;
    animation: glow 20s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
  50% {
    box-shadow: 0px 0px 60px 30px #FFFF66;
    background: yellow;
  }
  100% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
   }
  50% {
   transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@keyframes rotate1 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(180deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }



@keyframes rotate2 {
   0% {
     transform: rotate(0deg);
    }
   50% {
    transform: rotate(-180deg);
   }
   100% {
     transform: rotate(-360deg);
   }
 }
