html, body {
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.background {


}
