html, body {
  margin: 0 auto;
  padding: 0;
}

/*Container and background image*/
#container {
  background-color: #87CEEB;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#background-mountains
{
  position: relative;
  left:0px;
  bottom: 250px;
  overflow: hidden;
}

/*Information sign*/
#sign {
position: absolute;
top: 10px;
left: 380px;
width: 900px;
height: 700px;
z-index: 7;
}

/*Text for the sign*/
#text {
  position: absolute;
  top: 70px;
  left: 480px;
  width: 47rem;
  font-size: 2rem;
  font-family: arial;
  font-style: normal;
  color: #30260f;
  z-index: 9;
}

/*Sheeps, both PNG and gif*/
#sheep1 {
position: absolute;
top: 470px;
left: 1300px;
width: 230px;
z-index: 5;
}

#sheep2 {
position: absolute;
top: 300px;
left: 250px;
width: 150px;
z-index: 5;
}

#sheep3 {
position: absolute;
top: 370px;
left: 200px;
width: 120px;
z-index: 5;
}

/*Planets*/
#planet-1 {
  position: absolute;
  top: 550px;
  left: 390px;
  width: 900px;
  z-index: 4;
}

#planet-2 {
  position: absolute;
  top: 580px;
  left: -120px;
  width: 950px;
  z-index: 2;
}

#planet-3 {
  position: absolute;
  top: 580px;
  left: 830px;
  width: 950px;
  z-index: 3;
  animation: rotate 40s linear infinite;
}

/*Sign back to mainpage, hover glow*/
#arrow{
  position: absolute;
  width: 200px;
  top: 450px;
  left: 20px;
  z-index: 10;
}

#yellow-glow-arrow:hover{
  filter: drop-shadow(2px 2px 0 yellow)
          drop-shadow(-2px -2px 0 yellow);

}

/*Windmill and wings*/
#windmill {
  position: absolute;
  transform: scale(0.3) rotate(7deg);
  top: 120px;
  left: 1300px;
  z-index: 6;
}
#wings{
  position: absolute;
  top: -3rem;
  left: 5rem;
  z-index: 1;
  animation: rotate 3s linear infinite;
}
#house{
  position: absolute;
}

/*Sun*/
#sun {
  position: absolute;
  top: -600px;
  left: -400px;
  width: 750px;
  height: 750px;
  background: #FFFF66	;
  border-radius: 50%;
  box-shadow: 0px 0px 60px 15px yellow;
  animation: glow 40s linear infinite;
}

 /*Glow keyframe for the sun*/
@keyframes glow {
  0% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
  50% {
    box-shadow: 0px 0px 60px 30px #FFFF66;
    background: yellow;
  }
  100% {
    box-shadow: 0px 0px 40px 15px yellow;
    background: #FFFF66	;
  }
}

/*Rotate keyframe for the windmill and rotating planet*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
   }
  50% {
   transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
